<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eghuihe.module_home">

    <application android:theme="@style/BaseTheme">
        <activity android:name=".home.activity.NewestMechanismListActivity"/>
        <activity android:name=".home.activity.MechanismQueryListActivity"/>
        <activity android:name=".home.activity.NearMechanismListActivity"/>
        <activity android:name=".home.activity.MechanismListByQueryActivity"/>
        <activity android:name=".home.activity.MechanismListByTypeActivity"/>
        <activity android:name=".home.activity.TeachPayCourseListActivity"/>
        <activity android:name=".home.activity.TeachPayMechanismCourseListActivity"/>
        <activity android:name=".home.activity.ActivityDetailActivity"/>
        <activity android:name=".home.activity.NewActivityDetailActivity"/>
        <activity android:name=".home.activity.SklbActivityDetailActivity"/>
    </application>

</manifest>