<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>Chinese</string>
		<key>value</key>
		<string>中文</string>
		<key>key</key>
		<string>zh</string>
	</dict>
	<dict>
		<key>code</key>
		<string>English</string>
		<key>value</key>
		<string>英语</string>
		<key>key</key>
		<string>en</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Japanese</string>
		<key>value</key>
		<string>日语</string>
		<key>key</key>
		<string>jp</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Korean</string>
		<key>value</key>
		<string>韩语</string>
		<key>key</key>
		<string>kor</string>
	</dict>
	<dict>
		<key>code</key>
		<string>French</string>
		<key>value</key>
		<string>法语</string>
		<key>key</key>
		<string>fra</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Spanish</string>
		<key>value</key>
		<string>西班牙语</string>
		<key>key</key>
		<string>spa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Thai</string>
		<key>value</key>
		<string>泰语</string>
		<key>key</key>
		<string>th</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Arabic</string>
		<key>value</key>
		<string>阿拉伯语</string>
		<key>key</key>
		<string>ara</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Cantonese</string>
		<key>value</key>
		<string>粤语</string>
		<key>key</key>
		<string>yue</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Russian</string>
		<key>value</key>
		<string>俄语</string>
		<key>key</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Portuguese</string>
		<key>value</key>
		<string>葡萄牙语</string>
		<key>key</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>code</key>
		<string>German</string>
		<key>value</key>
		<string>德语</string>
		<key>key</key>
		<string>de</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Italian</string>
		<key>value</key>
		<string>意大利语</string>
		<key>key</key>
		<string>it</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Greek</string>
		<key>value</key>
		<string>希腊语</string>
		<key>key</key>
		<string>el</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Dutch</string>
		<key>value</key>
		<string>荷兰语</string>
		<key>key</key>
		<string>el</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Polish</string>
		<key>value</key>
		<string>波兰语</string>
		<key>key</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Bulgarian</string>
		<key>value</key>
		<string>保加利亚语</string>
		<key>key</key>
		<string>bul</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Estonian</string>
		<key>value</key>
		<string>爱沙尼亚语</string>
		<key>key</key>
		<string>est</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Danish</string>
		<key>value</key>
		<string>丹麦语</string>
		<key>key</key>
		<string>dan</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Finnish</string>
		<key>value</key>
		<string>芬兰语</string>
		<key>key</key>
		<string>fin</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Czech</string>
		<key>value</key>
		<string>捷克语</string>
		<key>key</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Romanian</string>
		<key>value</key>
		<string>罗马尼亚语</string>
		<key>key</key>
		<string>rom</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Slovenian</string>
		<key>value</key>
		<string>斯洛文尼亚语</string>
		<key>key</key>
		<string>slo</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Swedish</string>
		<key>value</key>
		<string>瑞典语</string>
		<key>key</key>
		<string>swe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Hungarian</string>
		<key>value</key>
		<string>匈牙利语</string>
		<key>key</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Traditional Chinese</string>
		<key>value</key>
		<string>繁体中文</string>
		<key>key</key>
		<string>cht</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Vietnamese</string>
		<key>value</key>
		<string>越南语</string>
		<key>key</key>
		<string>vie</string>
	</dict>
</array>
</plist>
