<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eghuihe.module_order">

    <application>
        <activity android:name=".ui.mechanism.TeachingPayMechanismOrderActivity"/>
        <activity android:name=".ui.student.TeachingPayStudentOrderActivity"/>
    </application>
</manifest>
